<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Serviço</h1>
      </div>
      <div class="ui-g-6 ui-md-4 ui-fluid">
        <label>Tipo</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-6 ui-md-4 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00">
      </div>
      <div class="ui-g-12 ui-md-8 ui-fluid">
        <label>Observações</label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
