<app-navbar></app-navbar>
<!--
<app-servico-cadastro></app-servico-cadastro>
<app-servico-pesquisa></app-servico-pesquisa>
-->
<app-processo-cadastro></app-processo-cadastro>
<!--
<app-processo-pesquisa></app-processo-pesquisa>
<app-solicitante-cadastro></app-solicitante-cadastro>
<app-solicitante-pesquisa></app-solicitante-pesquisa>
<app-peca-cadastro></app-peca-cadastro>
<app-peca-pesquisa></app-peca-pesquisa>
<app-tipodeservico-cadastro></app-tipodeservico-cadastro>
<app-tiposdeservico-pesquisa></app-tiposdeservico-pesquisa>-->
