<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Servicos</h1>
    </div>
    <div class="ui-g-12 ui-md-4 ui-fluid">
      <label>Processo</label>
      <input type="text" pInputText>
    </div>
    <div class="ui-g-6 ui-md-4 ui-fluid">
      <label>Tipo</label>
      <input type="text" pInputText>
    </div>
    <div class="ui-g-6 ui-md-4 ui-fluid">
      <label>Estado</label>
      <input type="text" pInputText>
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value]="servicos" [paginator]="true" [rows]="10" [responsive]="true">
        <p-column field="tipo" header="Tipo"></p-column>
        <p-column field="estado" header="Estado"></p-column>
        <p-column field="valor" header="Valor" styleClass="col-valor">
          <ng-template let-tpserv="rowData" pTemplate="body">
            <span [style.color]="tpserv.valor > 0 ? 'blue' : 'red'">{{tpserv.valor | currency:symbol:'1.2-2'}}</span>
          </ng-template>
        </p-column>
        <p-column styleClass="col-acoes">
          <ng-template pTemplate="body">
            <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
            <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>

    <div class="ui-g-12">
        <a pButton label="Novo Serviço"></a>
      </div>

  </div>

</div>
