<div class="container">
  <form>

    <div class="ui-g">

      <div class="ui-g-12">
        <h1>Nova Peça</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Categoria</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-6 ui-fluid">
        <label>Quantidade</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-6 ui-fluid">
        <label>Mínimo</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
